# dependencies
node_modules
.pnp
.pnp.js

# build output
dist
dist-ssr

# local env
.env
.env.*
*.local

# editor / os
.DS_Store
.vscode/*
!.vscode/extensions.json
*.log
npm-debug.log*

# vercel
.vercel
